NEXT_PUBLIC_WHATSAPP_NUMBER=593962393863

# Newsletter / consentimiento / privacidad (Fase 3-6)
BREVO_API_KEY=
BREVO_PENDING_LIST_ID=
BREVO_CONFIRMED_LIST_ID=
BREVO_DOI_TEMPLATE_ID=
BREVO_CONFIRMATION_REDIRECT_URL=
BREVO_WEBHOOK_SECRET=
GOOGLE_APPS_SCRIPT_URL=
GOOGLE_APPS_SCRIPT_SECRET=
ADMIN_NOTIFICATION_EMAIL=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
PRIVACY_POLICY_VERSION=
